




.error {
    color: red;
}
.success {
    color: green;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
p.header {
    color: wheat;
    font-family: Tahoma;
    font-size: large;
}




.form-check-input:checked {
    background-color: #ffc107; !important;
    border: 20px;
    color: black;

}

td {
    text-align: center;

}

.my {
    border-radius: 8px 8px 8px 8px;
}


